*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
transition: 0.1s; 
}
small{
  font-size: 14px;
}

#counter{
  position:absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}
#c1,#c3{
 justify-content: center;
 margin-top: 25%;
}
#c2{
  justify-content: center;
 margin-top: 60%;
}
html,body{
font-family: 'Righteous', cursive;
}
footer{
  font-size: 12px;
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
#selectmenu{
  padding: 5px;
  border: 2px solid white;
  border-radius: 3px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
marquee{
  width: 100%;
  background-color:#93C5FD;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#anounce{
  position:absolute;
  left: 0;
  background-color:#93C5FD;
  padding-left: 5px;
  color: red;
}
footer a{
  color: blue;
  font-size: 16px;
}
footer a:hover{
  color: white;
}
nav{
  background: #0082e6;
  min-height: 80px;
}
.shapes{
   width: 50px;
   height: 50px;
 background-color: #93C5FD;
 position:inherit;}
.s1{
clip-path: circle(50% at 50% 50%);
position: absolute;
left: 15%;
top: 60%;
animation: cir 5s ease-in-out infinite;
}
@keyframes cir {
  
0%{
  transform: translateX(0px);
}
50%{
   transform: translateY(-50px);
}
100%{
   transform: translateX(0px);
}
}
.s2{
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
position: absolute;
left: 60%;
top: 80%;
transform: rotate(45deg);
animation: tri 6s ease-in-out infinite;
}
@keyframes tri {
0%{
  transform: rotate(0deg);
}
50%{
  transform: rotate(90deg);
}
100%{
   transform: rotate(0deg);
}
}
.s3{
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
position: absolute;
left: 80%;
top: 20%;
animation: rom 4s ease-in-out infinite;
}
@keyframes rom {
0%{
  transform: rotate(0deg);
}
50%{
  transform: rotate(90deg);
}
100%{
  transform: rotate(0deg);
}
 
}
.name{
  line-height: 80px;
  padding: 0 100px;
  color: white;
  font-size: 30px;
}
a{
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.fa:hover {
    transform: rotate(90deg);
}
.fa{
  cursor: pointer;
}
#icon{
  color: darkslateblue;
  font-size: 30px;
}
.active{
  color:darkslateblue;
  font-size: 25px;
  border-bottom: 2px solid white;
  transition: 0.3s;
}
ul{
  float: right;
  margin-right:50px;
}
li{
display:inline-block;
line-height: 80px;
margin: 0 10px;
}
.checkbtn{
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 50px;
  font-size: 30px;
  display: none;

}
#check{
  display:none;

}
#icon2{
  font-size: 30px;
  color: darkslateblue;
  border-bottom: 2px solid white;
  animation: icon 9s ease-in-out infinite;
}
#icon{
  animation: icon 9s ease-in-out infinite;
}

@keyframes icon {
  50% {border-bottom-color:#0082e6;}
}
button{
  background-color: white;
  color:#3B82F6;
  padding: 8px 25px;
  border: none;
  border-radius: 3px;
  font-weight: bolder;
position: absolute;
left: 50%;
top: 4%;
cursor: pointer;
animation: btn 10s ease-in-out infinite;
}
@keyframes btn {
  from {background-color: white;}
  to {background-color: blue;}
}
@media (max-width:952px) {
.name{
  padding-left: 50px;
  font-size: 25px;
}
button{
  position: absolute;
left: 60%;
top: 4%;
}
li{
  font-size: 16px;
}


.callout {
  position: fixed;
  bottom: 0;
  right: 0;
  left:0;
  top:0;
  margin:70% 10% 30% 10%;
  display:none;
  z-index: 1;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
}
@media (max-width:858px) {
.checkbtn{
  display: block;
  margin-right:20px;
}
#login{
   display: none;
}
.name{
  padding-left: 10px;
  font-size: 25px;
}
button{
  position: absolute;
left: 55%;
top: 4%;
}
#icon2{
  font-size: 30px;
}
ul{
  background: #2c3e50;
  width: 75%;
  height: 100vh;
  position: fixed;
  top: 82px;
  left:-100%;
  text-align: center;
  transition: all 0.3s;
  z-index: 1;
}

li{
  display: block;
  margin:  0;
}
#check:checked ~ ul{
  left: 0px;
}
.sub i{
  transform: rotate(90deg);
}
.active{
  color: #3B82F6;
}
}
section{
  height:auto;
  margin-top: 1px;
  text-align: center;
  margin-top: 150px;
}
.container a{
  color: white;
background: #0082e6 ;
padding: 5px 10px;

}
.container a:hover{
  color:#0082e6;
  background: white;
}
body{
  background:#BFDBFE;
}
.sub{
  color: black;
}
@media (min-width:858px) {
.callout {
  position: fixed;
  bottom: 0;
  right: 0;
  left:0;
  top:0;
  margin:20% 10% 30% 10%;
  display:none;
  z-index: 1;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
}
